@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  font-family: roboto;
}

/* Common styles */
.pageContainer,
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.triangle.purple {
  background-color: #5c10b6;
  clip-path: polygon(0, 90% 0, 0 100%);
}

.triangle.black {
  background-color: black;
  clip-path: polygon(100% -15%, 100% 100%, 15% 100%);
}

.title,
.heading {
  font-weight: 600;
  color: white;
  font-size: 2.5rem; /* Default size */
}

.gradientText {
  background: linear-gradient(to right, #8e44ad, #00ffff);
  -webkit-background-clip: text;
  color: transparent;
}

.panel {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.button.bg-transparent:hover {
  background-color: #b19cd9;
}

/* Media Queries */

@media (max-width: 1920px) { /* Example: Adjust for standard HD screens */
  .title, .heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 1280px) { /* Example: Smaller laptops/tablets */
  .title, .heading {
    font-size: 2rem;
  }
}

@media (max-width: 768px) { /* Example: Tablets and smaller */
  .title, .heading {
    font-size: 1.75rem;
  }

  /* Example: Adjust triangle clip-path for better mobile view if needed */
  .triangle.purple {
    clip-path: polygon(0, 85% 0, 0 100%); /* Slightly adjusted */
  }

  .triangle.black {
    clip-path: polygon(100% -10%, 100% 100%, 10% 100%); /* Slightly adjusted */
  }
}

@media (max-width: 480px) { /* Example: Phones */
  .title, .heading {
    font-size: 1.5rem;
  }

  /* Further triangle adjustments for very small screens */
  .triangle.purple {
    clip-path: polygon(0, 80% 0, 0 100%);
  }

  .triangle.black {
    clip-path: polygon(100% -5%, 100% 100%, 5% 100%);
  }
}