@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

/* Common styles */
.pageContainer,
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.title,
.heading {
  font-weight: 600;
  color: white;
  font-size: 2.5rem; /* Default size */
}

.gradientText {
  background: linear-gradient(to right, #8e44ad, #00ffff);
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle,
.description {
  color: #b0b0b0;
  font-size: 1.25rem; /* Default size */
}

.button {
  border-radius: 20px;
  position: relative;
  padding: 15px;
  font-size: 1.125rem; /* Default size */
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.button.bg-blue-500 {
  background-color: #9068db;
}

.button.bg-blue-500:hover {
  background-color: #b19cd9;
}

.button.bg-transparent {
  background-color: transparent;
  border: 2.5px solid #ffffff;
}

.button.bg-transparent:hover {
  background-color: #b19cd9;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .pageContainer,
  .mainContainer {
    padding: 20px;
  }

  .title,
  .heading {
    font-size: 1.75rem; /* Adjusted size */
  }

  .subtitle,
  .description {
    font-size: 1rem; /* Adjusted size */
  }

  .button {
    font-size: 1rem; /* Adjusted size */
    padding: 10px; /* Adjusted padding */
  }
}
