.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  max-width: 750px;
  text-align: center;
  padding: 20px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85vw; /* Full width */
  height: 85vh;
  top: 35px;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.textHome {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0;
  text-align: center;
  word-wrap: break-word; /* Ensure long words break properly */
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%; /* Ensure text fits within the screen on mobile */
}

.textProjects {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0;
  text-align: center;
  word-wrap: break-word; /* Ensure long words break properly */
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%; /* Ensure text fits within the screen on mobile */
  margin-top: -15px;
}

.projectsGrid {
  display: flex;
  justify-content: center;
  gap: 1.2rem; /* Adds space between logos */
  max-width: 1000px;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping of the logos in smaller screens */
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%; /* Make sure each project takes up full width on small screens */
  max-width: 250px; /* Limit max width of logos on smaller screens */
  margin-bottom: 1rem; /* Add some space between rows of logos */
}

.projectLogo {
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%; /* Make sure logos scale with container width */
  max-width: 150px; /* Maintain maximum width */
}

/* Media Queries */

@media (max-width: 1920px) {
  .textHome,
  .textProjects {
    font-size: 1.1rem;
  }

  .projectsGrid {
    max-width: 800px;
  }

  .projectCard {
    max-width: 200px;
  }

  .projectLogo {
    max-width: 120px;
  }
}

@media (max-width: 1280px) {
  .textHome,
  .textProjects {
    font-size: 1rem;
  }

  .pageContainer {
    left: 0;
    height: 80vh;
    width: 95vw;
  }

  .projectsGrid {
    max-width: 600px;
  }

  .projectCard {
    max-width: 175px;
  }

  .projectLogo {
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  .textHome,
  .textProjects {
    font-size: 0.9rem;
  }

  .projectsGrid {
    max-width: 400px;
  }

  .projectCard {
    max-width: 150px;
  }

  .projectLogo {
    max-width: 80px;
  }
}

@media (max-width: 480px) {
  .textHome,
  .textProjects {
    font-size: 0.8rem;
  }

  .projectsGrid {
    max-width: 300px; /* Adjust grid width */
    gap: 0.8rem; /* Reduce gap between logos */
  }

  .projectCard {
    max-width: 125px; /* Adjust card width */
  }

  .projectLogo {
    max-width: 60px; /* Adjust logo width */
  }
}
