.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  max-width: 750px;
  text-align: center;
  padding: 20px;
}

.buttonGroup {
  display: none;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.buttonGroup.md\:flex {
  display: flex;
}

.overlay {
  opacity: 40%;
}

@media (max-width: 768px) {
  .textContainer {
    max-width: 90%;
    padding: 10px;
  }
}
