.navContainer {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 15px 20px;
  background-color: transparent;
  border: 3px solid #9068db;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLink {
  color: #FFFFFF;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navIcon {
  width: 30px;
  height: 30px;
  color: inherit;
}

.navLabel {
  font-size: 12px;
}

.navLink:hover .navIcon {
  color: #B19CD9;
  transform: scale(1.1);
}

.activeIcon {
  color: #9068db;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .navContainer {
    width: 95%;
    bottom: 15px;
    padding: 10px 15px;
    border-radius: 15px;
  }

  .navIcon {
    width: 25px;
    height: 25px;
  }

  .navLabel {
    font-size: 10px;
  }
}
