.navContainer {
  position: absolute;
  bottom: 40%;
  left: 3.2%;
  width: auto;
  height: 40%;
  max-height: 275px;
  padding: 15px 20px;
  background-color: #333333;
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navOpen {
  transform: translateX(0); /* Show when open */
}

.navLink {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  align-items: center;
}

.navIcon {
  width: 35px;
  height: 35px;
  color: inherit;
}

.navLabel {
  font-size: 12px;
}

.navLink:hover .navIcon {
  color: #b19cd9;
  transform: scale(1.1);
}

.activeIcon {
  color: #9068db;
  transform: scale(1.2);
}
/* Media Queries */

@media (max-width: 1012px) { /* Adjust breakpoint as needed */
  .navContainer {
    bottom: 0; /* Position at the bottom */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Auto height */
    max-height: none; /* Remove max-height restriction */
    padding: 20px; /* Adjust padding */
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-around; /* Distribute space evenly */
    align-items: center;
    background-color: rgba(51, 51, 51, 1); /* Slightly transparent background */
    border-radius: 0; /* Remove border-radius */
    box-shadow: none; /* Remove box-shadow */
    z-index: 99;
    display: none;
  }

  .navLink {
    flex-direction: column; /* Stack icon and label vertically */
    padding: 0; /* Remove padding */
    margin: 0 10px; /* Add spacing between links */
  }

  .navIcon {
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
    .navLink {
        margin: 0 5px; /* Further reduce spacing on very small screens */
    }
}
