.card {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  height: 300px; /* Ensures the card has a fixed height */
  margin: 16px;
  cursor: pointer;
  position: relative;
}

.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 10px;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.card .front {
  background-color: #333333;
  color: white;
  text-align: center;
}

.card .back {
  background-color: #333333;
  color: white;
  transform: rotateY(180deg);
}

.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.card .front.noImage {
  background-color: #333333;
}

.card .front h3 {
  margin: 10px 0 0 0;
  font-size: 1.25em;
}

.card .circleButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #333333;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s;
}

.card .circleButton:hover {
  background-color: #B19CD9;
}

.card .front .noImageBackground {
  width: 100%;
  height: 100px;
  background-color: #2d2d2d;
  border-radius: 10px 10px 0 0;
}

.card .front .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.card .back p {
  margin: 5px 0;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .card {
    width: 200px; /* Ensure cards fit within mobile view */
    height: 200px; /* Ensures the card has a fixed height */
  }

  .cardInner {
    padding: 10px;
  }

  .card .front h3 {
    font-size: 1em;
  }

  .card .circleButton {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
  }

  .card .front img {
    max-height: 80px;
  }

  .card .front .icon {
    font-size: 20px;
  }

  .card .back p {
    margin: 3px 0;
    font-size: 0.9em;
  }
}
