.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw; /* Full width */
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding-bottom: 20px;
  text-align: center;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Place the overlay below the content */
}

.projectsSection {
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%; /* Ensure full width */
  text-align: center;
  z-index: 2;
  padding: 10px;
  overflow: hidden; /* Prevent scrolling */
}

.repoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  width: 50%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.title {
  font-weight: 600;
  color: #ffffff;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #e0e0e0;
  text-align: center;
  word-wrap: break-word; /* Ensure long words break properly */
  overflow-wrap: break-word; /* Break long words */
  white-space: normal; /* Ensure text wraps properly */
  max-width: 900px; /* Set a max-width to limit the text's width */
  padding-bottom: 1.5rem;
}

.gradientText {
  background: linear-gradient(to right, #00ffff, #8e44ad);
  -webkit-background-clip: text;
  color: transparent;
}

.dot.active {
  background-color: #B19CD9;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .contentContainer {
    gap: 10px;
  }

  .repoGrid {
    grid-template-columns: 1fr; /* Display one card at a time on mobile */
    gap: 10px;
    justify-items: center; /* Center the cards within the grid */
  }

  .pagination {
    flex-direction: row;
    margin-top: 10px;
  }

  .dot {
    height: 8px;
    width: 8px;
    margin: 0 3px;
  }
}
